@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-important {
  font-family: 'Roboto Condensed', sans-serif;
}
/*.text-primary {
  color:#337ab7 !important;
} /**/
.table {
  max-width: 1000px;
  margin: 0 auto;
}
.ck-spinner {
  width: 4rem;
  height: 4rem;
}
.card {
  max-width: 1000px;
  overflow: hidden;
  padding: 5px;
}
.header-card {
  max-width: 600px;
  overflow: hidden;
  padding: 5px;
  margin: 0 auto;
}
.col-sm {
  width: 55px;
}
.col-md {
  max-width: 55px;
}
.col-lg {
  max-width: 200px;
  min-width: 120px;
}
.col-xl {
  max-width: 400px;
  min-width: 240px;
}
.caption-hidden {
  visibility: collapse;
}
.lg-max-width {
  max-width: 1000px;
}
.sm-max-width {
  max-width: 500px;
}
.table-distance-header {
  font-size: 1.5rem;
  border-bottom-color: currentColor;
}
.fit-width {
  width: fit-content;
}
.bib-box {
  width: fit-content;
  font-weight: bold;
  border-color: rgb(225, 36, 22) lightgrey lightgrey;
  border-style: solid;
  border-width: 7px 1px 1px;
}
ul.nav a:hover, a.nav-link:hover, a.list-group-item:hover {
  color:rgb(225, 36, 22) !important;
}
a.active:hover {
  color:rgba(0,0,0,.9) !important;
}
.logo {
  max-width: 40px;
}
.qr-holder {
  text-align: center;
}
.qr-label {
  color:#5c6c7d;
  margin-top: -10px;
}
.qr-buffer {
  margin: 50px;
}
.text-chronokeep {
  color:#5c6c7d;
}
.btn-chronokeep {
  background-color: #5c6c7d;
  border-color: #5c6c7d;
}
.btn-margin-top {
  margin-top: 13px;
}
.btn-chronokeep:hover {
  color: #fff;
  background-color: #b42316;
  border-color: #962316;
}
.btn-chronokeep:focus {
  color: #fff;
  background-color: #5c6c7d;
  border-color: #5c6c7d;
  box-shadow: 0 0 0 .25rem rgba(92, 108, 125,.5);
}
.btn-chronokeep:disabled {
  color: #fff;
  background-color: #97a7b8;
  border-color: #828f9e;
}
.chronokeep-form-label {
  margin-bottom: 2px;
  margin-top: 5px;
}
.login-spinner-container {
  margin-top: 13px;
}
.chronokeep-alert {
  margin-top: 10px;
}
.chronokeep-input {
  width: 100%;
}
.chronokeep-middle {
  margin: auto 0;
}
.account-info {
  width: 575px;
  margin: 30px auto;
}
.name-form {
  margin-bottom: 10px;
}
.email-form {
  margin-top: 10px;
}
.chronokeep-card {
  padding: 0px;
}
.chronokeep-card-header {
  background-color: #e9ecef;;
}
.hidden {
  display: none;
}
.password-form {
  margin-top: 20px;
}
.chronokeep-margin-top {
  margin-top: 10px;
}
.chronokeep-margin-bottom {
  margin-bottom: 10px;
}
@media (max-width: 450px) {
  .col-xl {
    max-width: fit-content;
    min-width: 120px;
  }
}
@media (max-width: 575px) {
  .overflow-hidden-sm {
    display: none;
  }
  .col-cst {
    min-width: 100%;
    width: 100%;
  }
}
@media (max-width: 770px) {
  .account-info {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .overflow-hidden-lg {
    display: none;
  }
}